.underline-on-hover:hover {
    text-decoration: underline;
}

.inlinediv {
    display: inline-flex;
}

.textbonito {
    margin-left: 15%;
}

.collapse-item.active {
    background-color: #f8f9fa;
    color: #212529;
    font-weight: bold;
}
